@font-face {
  font-family: 'icomoon';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin:0;
  padding:0;
  font-family: Helvetica;
  font-weight:bold;
  font-size: 1.4em;
  text-align:center;
  }
	section {
    width:100%;
    height:1024px;
    margin: 0 0 360px 0;
    background-color:#ececec;
    position:relative;
    z-index:2;
    color: #1e2024;
  }
	footer {
    width:100%;
    height:360px;
    background-image: linear-gradient(rgb(206, 53, 89), #9e3158);
    background-color:#9e3158;
    position:fixed;
    bottom:0;
    left:0;
    color: #da6782;
    text-align:center;
    z-index:0;
  }
	p {
    font-size: 14px;
  }
  h4 {
    text-align: left;
  }
  cite {
    font-size: 9px;
  }
  ul li {
    list-style: none;
    font-size: 14px;
    text-align: left;
  }
  li:hover {
    color: #eb7893;
  }
.wbyLogo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footerBorder {
  border-bottom: 1px solid #eb7893;
  border-top: 1px solid #eb7893;
}
.news {
  text-align: center;
}
.tel {
  text-align: left;
  margin-top: 40px;
}
.tel:hover {
  color: #eb7893;
}
button.inquire {
  border: 1px solid white;
  border-radius: 0px;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  background-color: transparent;
}
