.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(19deg);
          transform: skewY(19deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(19deg);
          transform: skewY(19deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.-berry {
  background: #b52b4a;
}

.-blue {
  background: #41ade5;
}
.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  padding: 20% 20px;
  text-align: center;
}

h1 {
  font-size: 16px;
  font-weight: 250;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0.5em;
}
