aside {
  width: 25%;
  min-width: 250px;
  max-width: 500px;
  margin: 25px auto;
}

.wufoo-ad-wrap {
  height: 0;
  padding-top: 100%;
  position: relative;
}

.wufoo-ad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wufoo-letter {
  animation: kaboom 5s ease alternate infinite;
}
.wufoo-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.wufoo-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.wufoo-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.wufoo-letter:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes kaboom {
  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
.text-1, .text-2, .text-3 {
  fill: white;
  font-size: 63px;
  font-family: Sans-Serif;
}

.text-1 {
  animation: hideshow 10s ease infinite;
}

.text-2 {
  opacity: 0;
  animation: hideshow 10s 1.5s ease infinite;
}

.text-3 {
  opacity: 0;
  animation: hideshow 10s 3s ease infinite;
}

@keyframes hideshow {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
#trex {
  transform: translateY(150px);
  animation: popup 10s 6.5s ease infinite;
}

@keyframes popup {
  0% {
    transform: translateY(150px);
  }

  34% {
    transform: translateY(20px);
  }

  37% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(150px);
  }
}
